.social{
    font-family: 'Poppins', sans-serif;
    display: grid;
    place-items: center;
    color:#fff;
    background: #111;
}
.social .social-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.social .title::before{
    background: #fff;
}
.social .title::after{
    background: #111;
    content: "social accounts";
}
.social .social-content .wrapper{
    display: inline-flex;
    margin-top: 50px;
}
.social .social-content .wrapper .icon{
    margin: 0 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.social .social-content .wrapper .icon span{
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
}
.social .social-content .wrapper .icon:hover span .icon2{
    color: #fff;
}
.icon2{
    margin-bottom: 12.5px;
    font-size: 25px;
}
.facebook{
    color: #3B5999;
}
.twitter{
    color: #1DA1F2;
}
.instagram{
    color: #E1306C;
}
.github{
    color: #333333;
}
.youtube{
    color: #FF0000;
}
.social .social-content .wrapper .icon .tooltip{
    position: absolute;
    top: 0px;
    background: #fff;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.social .social-content .wrapper .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}
.social .social-content .wrapper .icon .tooltip::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.social .social-content .wrapper .icon:hover span,
.social .social-content .wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.social .social-content .wrapper .facebook:hover span,
.social .social-content .wrapper .facebook:hover .tooltip,
.social .social-content .wrapper .facebook:hover .tooltip::before{
    background: #3B5999;
}
.social .social-content .wrapper .twitter:hover span,
.social .social-content .wrapper .twitter:hover .tooltip,
.social .social-content .wrapper .twitter:hover .tooltip::before{
    background: #1DA1F2;
}
.social .social-content .wrapper .instagram:hover span,
.social .social-content .wrapper .instagram:hover .tooltip,
.social .social-content .wrapper .instagram:hover .tooltip::before{
    background: #E1306C;
}
.social .social-content .wrapper .github:hover span,
.social .social-content .wrapper .github:hover .tooltip,
.social .social-content .wrapper .github:hover .tooltip::before{
    background: #333;
}
.social .social-content .wrapper .youtube:hover span,
.social .social-content .wrapper .youtube:hover .tooltip,
.social .social-content .wrapper .youtube:hover .tooltip::before{
    background: #FF0000;
}